@import "../../node_modules/mq-sass/stylesheets/mq-sass";

// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

// thrasher specific code
// 'handle' gets replaced by whatever podcast handle is set in podcast.json
#handle {
    padding-top: 0;
    margin-bottom: 0;
}

.handle__wrapper {
    width: 100%;
}

.handle__artwork {
    position: relative;
    background-repeat: no-repeat;
    background-position: right -60px center;
    background-size: auto 100%;
    min-height: 220px;
    margin: 0 -10px;
    padding: 0 10px;

    @include mq(mobileLandscape) {
        padding: 0 20px;
    }

    @include mq(tablet) {
        height: 250px;
        margin: 0;
        background-position: right center;
    }
}

.handle__logo {
    width: 120px;
    position: absolute;
    bottom: 12px;
    left: 10px;

    @include mq(mobileLandscape) {
        left: 20px;
    }

    @include mq(tablet) {
        right: 20px;
        top: 7px;
        bottom: auto;
        left: auto;
    }

    @include mq(leftCol) {
        width: 145px;
        position: absolute;
        top: 7px;
        left: 20px;
    }
}

.handle__content {
    margin-right: 115px;

    @include mq(leftCol) {
        margin-left: 160px;
    }

    @include mq(wide) {
        margin-left: 240px;
    }
}

.handle__description,
.handle__title {
    max-width: 460px;
    font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
}

.handle__description {
    padding-top: 6px;
    margin-bottom: 2px;
    line-height: 1.3;

    .regular-description {
        display: none;

        @include mq(mobileLandscape) {
            display: block;
        }
    }

    .short-description {
        @include mq(mobileLandscape) {
            display: none;
        }
    }
}

.handle__title {
    font-weight: 900;
    font-size: 28px;
    line-height: 1;

    @include mq(tablet) {
        font-size: 48px;
    }
}

.handle__button-label {
    display: block;
    margin-bottom: 6px;

    @include mq(mobileLandscape) {
        margin-top: 8px;
        float: left;
        margin-right: 4px;
    }
}

.handle__buttons {
    list-style: none;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 14px;
    line-height: 1;
    margin: 0 -10px;
    padding: 12px 10px;
    background-color: white;
    color: #333;
    overflow: auto;

    @include mq(mobileLandscape) {
        padding: 12px 20px;
    }

    @include mq(tablet) {
        position: absolute;
        left: 20px;
        right: auto;
        bottom: 6px;
        margin: 0;
        padding: 0;
        color: white;
        background-color: transparent;
    }

    @include mq(leftCol) {
        margin-left: 160px;
    }

    @include mq(wide) {
        margin-left: 240px;
    }
}

.handle__button {
    background-color: #fb0;
    color: #333;
    padding: 9px 12px 7px;
    border-radius: 20px;
    margin-bottom: 8px;
    font-weight: bold;
    float: left;
    margin-right: 4px;
}

.handle__link:hover {
    text-decoration: none;

    .handle__button {
        background-color: darken(#fb0, 5%);
    }
}

// light touch page modding
.fc-container__title__text {
    color: #333;
}

.fc-container .fc-container__inner {
    border-top-color: #fb0;
}

.button--show-more {
    background-color: #fb0;
    border-color: #fb0;
    color: #333;

    &:hover {
        border-color: darken(#fb0, 5%);
        background-color: darken(#fb0, 5%);
    }

    .inline-icon {
        fill: #333;
    }
}
