@font-face {
    font-family: 'GuardianSansWeb';
    src: url('/fonts/GuardianSansWeb-Regular.eot');
    src: url('/fonts/GuardianSansWeb-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/GuardianSansWeb-Regular.woff2') format('woff2'),
         url('/fonts/GuardianSansWeb-Regular.woff') format('woff'),
         url('/fonts/GuardianSansWeb-Regular.ttf') format('truetype'),
         url('/fonts/GuardianSansWeb-Regular.svg#GuardianSansWeb-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
} 

@font-face {
    font-family: 'GuardianEgyptianWeb';
    src: url('/fonts/GuardianEgyptianWeb-Regular.eot');
    src: url('/fonts/GuardianEgyptianWeb-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/GuardianEgyptianWeb-Regular.woff2') format('woff2'),
         url('/fonts/GuardianEgyptianWeb-Regular.woff') format('woff'),
         url('/fonts/GuardianEgyptianWeb-Regular.ttf') format('truetype'),
         url('/fonts/GuardianEgyptianWeb-Regular.svg#GuardianEgyptianWeb-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    }

@font-face {
    font-family: 'GuardianEgyptianWeb';
    src: url('/fonts/GuardianEgyptianWeb-Medium.eot');
    src: url('/fonts/GuardianEgyptianWeb-Medium.eot?#iefix') format('embedded-opentype'),
         url('/fonts/GuardianEgyptianWeb-Medium.woff2') format('woff2'),
         url('/fonts/GuardianEgyptianWeb-Medium.woff') format('woff'),
         url('/fonts/GuardianEgyptianWeb-Medium.ttf') format('truetype'),
         url('/fonts/GuardianEgyptianWeb-Medium.svg#GuardianEgyptianWeb-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}
